$default-section-padding: 96px 0;
section{
	padding: $default-section-padding;
}
section.bg-gray{
	background: color(neutral,01);
}
section header.section-header{
	@extend .container;
	height: 128px;
	margin-bottom: 72px;
	text-align: center;
}