//== CONTACT GRID ===//
// .contact-grid > .link > a > svg
.contact-grid{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 0;
	justify-content: center;
	align-items: center;
	.link a svg{
		fill: $action-text;
		transition: all $default-transition-time-easing;
	}
	.link a{
		@extend .btn-minimal;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover{
			border: none;
			background: darken(color(neutral, 01), 5%);
			svg{
				fill: color(action, 06);
				transition: all $default-transition-time-easing;
			}
		}
	}
}
//== /CONTACT GRID ===//
//=== FOOTER OVERRIDE ===//
footer.the-footer .contact-grid{
	background: orange;
}
//=== /FOOTER OVERRIDE ===//
