//=== The Footer ===//
$the-footer-color: color(neutral, 10);
$footer-text-color: color(neutral, 02);

footer.the-footer{
	position: relative;
	padding: 112px 0;
	background: $the-footer-color;
	color: $footer-text-color;
	//= Footer Content =//
	.footer-content{
		display: grid;
		align-items: center;
		justify-content: center;
		grid-gap: 32px;
		margin: 0 auto;
		position: relative;
		width: 100%;
		max-width: 384px;
		text-align: center;
	}
	//= /Footer Content =//
	//= Icons =//
	.ok svg{
		fill: $footer-text-color;
	}
	//= See contact-grid.scss for the social icons =//
	//= /Icons =//
}
//=== /THE FOOTER ===//
//=== BACK TO TOP BTN ===//
#backToTopBtn{	
	@extend .btn-minimal;
	color: $footer-text-color;
	border: none;
	&:hover{
		border: none;
		background: darken( color(neutral, 10), 2% );
	}
}
//=== /BACK TO TOP BTN ===//