header.the-header {
	padding: 0 16px;

	.header-content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"title title trigger"
			"nav nav nav"
			"footer footer footer"
		;
		align-content: center;
		width: 100%;
		max-width: $container-max-width;
		margin: 0 auto;
	}
}

// === MENU TRIGGER === //
header.the-header .menu-trigger {
	grid-area: trigger;
	text-align: right;

	.sr-only {
		display: none;
		visibility: hidden;
	}
}

// === /MENU TRIGGER === //
// === SITE TITLE === //
header.the-header h1.site-title {
	grid-area: title;
	margin: 0;
	flex: 1;
	align-self: center;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
}

//=== /SITE TITLE ===//
//=== PRIMARY NAV ===//
nav.primary-nav {
	grid-area: nav;
	padding: 24px 0;
	text-align: left;

	ul {
		margin: 0;
		display: block;
	}

	li {
		margin: 0;
	}

	li a {
		display: block;
		padding: 16px 8px;
		color: color(neutral, 08);
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		text-decoration: none;
		border-radius: $default-border-radius;
		transition: all $default-transition-time-easing;

		&:hover {
			background: color(neutral, 01);
			color: color(neutral, 10);
			transition: all $default-transition-time-easing;
		}

		&.active {
			background: color(neutral, 02);
			color: color(neutral, 10);
			font-weight: 600;
			transition: all $default-transition-time-easing;
		}
	}
}

//=== /PRIMARY NAV ===//
//=== NAV FOOTER ===// 
footer.nav-footer {
	@extend .caption-1;
	text-align: center;
	grid-area: footer;
	padding: 28px 0;
}

//=== /NAV FOOTER ===//
//=== /DEFAULT VIEW ===// 

//======================//
//=== LARGE SCREENS ===//
@media screen and (min-width:1024px) {
	header.the-header {
		padding: 0;

		//=== HEADER CONTENT WRAPPER ===//
		.header-content {
			width: 95%;
			max-width: $container-max-width;
			grid-template-columns: 1fr auto;
			grid-template-areas:
				"title nav nav"
			;
		}

		//=== /HEADER CONTENT WRAPPER ===//
		//=== MENU TRIGGER ===//
		.menu-trigger {
			display: none;
			visibility: hidden;
		}

		//=== /MENU TRIGGER ===// 
		//=== PRIMARY NAV ===// 
		nav.primary-nav {
			padding: 0;

			ul {
				display: flex;
				margin: 0;
				align-self: center;
			}

			li {
				padding: 4px;

				a {
					font-size: 14px;
				}
			}
		}
	}

	//=== /PRIMARY NAV ===//
	//=== NAV FOOTER ===// 
	footer.nav-footer {
		display: none;
		visibility: hidden;
	}
}

//=== /LARGE SCREENS ===//
//======================//