
$header-color: color(neutral, 00);
$menu-trigger-target-size: 72px;
$trigger-translate: 22px;


header.the-header {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 0 16px;
	background: $header-color;
	
	//=== HEADER PARTS ===//
	.header-content {
		display: grid;
		position: relative;
		grid-template-columns: 1fr;
		grid-template-areas:
			"headerbar"
			"nav"
		;
		align-content: center;
		width: 100%;
		max-width: $container-max-width;
		margin: 0 auto;
		background: $header-color;
	}
	//= Header Bar =// 
	.header-bar{
		display: flex;
		position: relative;
		z-index: 90;
		top: 0;
		background: $header-color;
	}
	//= /Header Bar =// 
	//= Main menu =//
	.main-menu{
		background: $header-color;
		grid-area: nav;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: fixed;
		z-index: 80;
		top: -100vh;
		left: 0;
		right: 0;
		transition: all $default-transition-time-easing;
		height: 0vh;
		opacity: 0;
		&.open{
			height: 100vh;	
			top: 72px;
			left: 0;
			right: 0;
			padding: 0 16px;
			opacity: 1;
			transition: all $default-transition-time-easing;
		}
	}
	//= /Main menu =//
	//=== /HEADER PARTS ===//
	&.open{
		position: fixed;
	}
}
//=== /HEADER PARTS ===// 
//=== MENU TRIGGER ===//
header.the-header .menu-trigger {
	display: flex;
	position: relative;
	right: 0;
	justify-content: center;
	align-items: center;
	height: $menu-trigger-target-size;
	width: $menu-trigger-target-size;
	grid-area: trigger;
	&:focus,
	&:hover{
		background: transparent;
	}
	//= Trigger Icon =//
	.trigger-icon{
		width: 16px;
		height: 2px;
		background: color(neutral, 06);
		border-radius: 1000px;
		transition: all $default-transition-time-easing;
		&:before,
		&:after{
			content: '';
			position: absolute;
			width: 16px;
			height: 2px;
			background: color(neutral, 06);
			border-radius: 1000px;
			transition: all $default-transition-time-easing;
		}
		&:before{
			transform: translateY(-5px);
		}
		&:after{
			transform: translateY(5px);
		}
	}
	//= Trigger Icon Animation =// 
	&.open .trigger-icon{
		transform: translateX(32px);
		background: transparent;
	}
	&.open .trigger-icon::before{
		transform: rotate(45deg) translate(-$trigger-translate, $trigger-translate);
	}
	&.open .trigger-icon::after{
		transform: rotate(-45deg) translate(-$trigger-translate, -$trigger-translate);
	}
	//= /Trigger Icon Animation =// 
	//= /Trigger Icon =// 
	
	.sr-only {
		display: none;
		visibility: hidden;
	}
}

//=== /MENU TRIGGER ===//
//=== SITE TITLE ===//
header.the-header h1.site-title {
	grid-area: title;
	margin: 0;
	flex: 1;
	align-self: center;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	a{
		color: color(neutral, 10);
		text-decoration: none;
		&:hover{
			color: color(neutral, 09);
		}
	}
}

//=== /SITE TITLE ===//
//=== MAIN MENU WRAPPER ===// 

//=== /MAIN MENU WRAPPER ===//
//=== PRIMARY NAV ===//
nav.primary-nav {	
	padding: 24px 0;
	text-align: left;

	ul {
		margin: 0;
		display: block;
	}

	li {
		margin: 0;
	}

	li a {
		display: block;
		padding: 16px 8px;
		color: color(neutral, 08);
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		text-decoration: none;
		border-radius: $default-border-radius;
		transition: all $default-transition-time-easing;

		&:hover {
			background: color(neutral, 01);
			color: color(neutral, 10);
			transition: all $default-transition-time-easing;
		}

		&.active {
			background: color(neutral, 02);
			color: color(neutral, 10);
			font-weight: 600;
			transition: all $default-transition-time-easing;
		}
	}
}

//=== /PRIMARY NAV ===//
//=== NAV FOOTER ===// 
.nav-footer {
	position: relative;
	bottom: 144px;
	@extend .caption-1;
	text-align: center;
	justify-self: flex-end;
	padding: 28px 0;
}

//=== /NAV FOOTER ===//
//=== /DEFAULT VIEW ===// 

//======================//
//=== LARGE SCREENS ===//
@media screen and (min-width:1024px) {
	header.the-header {
		padding: 0;
		//=== HEADER CONTENT WRAPPER ===//
		.header-content {
			width: 95%;
			max-width: $container-max-width;
			grid-template-columns: 1fr auto;
			grid-template-areas:
				"headerbar nav"
			;
		}
		.main-menu{
			height: 72px;
			display: block;
			visibility: visible;
			opacity: 1;
			position: relative;
			top: 0;
		}
		//=== /HEADER CONTENT WRAPPER ===//
		//=== MENU TRIGGER ===//
		.menu-trigger {
			display: none;
			visibility: hidden;
		}

		//=== /MENU TRIGGER ===// 
		//=== PRIMARY NAV ===// 
		nav.primary-nav {
			padding: 0;
			ul {
				display: flex;
				margin: 0;
				align-self: center;
			}

			li {
				padding: 4px;

				a {
					font-size: 14px;
				}
			}
		}
	}

	//=== /PRIMARY NAV ===//
	//=== NAV FOOTER ===// 
	.nav-footer {
		display: none;
		visibility: hidden;
	}
}

//=== /LARGE SCREENS ===//
//======================//