$default-font-family: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
sans-serif;
$default-font-size: 17px;
$default-line-height: 24px;
$default-font-color: color(neutral, 08);

