html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
html {
  color: #4B4F5B;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.43%; }

h1, h2, h3, h4 {
  display: block;
  color: #333846;
  font-weight: 500;
  font-style: normal; }

h1, .large-title {
  margin-bottom: 48px;
  margin-top: 24px;
  color: #262B3A;
  font-weight: 700;
  letter-spacing: 0.38%;
  line-height: 48px; }

h1 {
  font-size: 29px; }

h2 {
  margin-bottom: 24px;
  margin-top: 24px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.26%; }

h3 {
  margin-bottom: 0;
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.45%; }

h4 {
  color: #333846;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.43%; }

h5 {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.43%; }

h6 {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.43%;
  text-transform: uppercase; }

p {
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.43%;
  margin-bottom: 24px; }

a {
  font-weight: 500;
  color: #0A99EA;
  transition: color 250ms ease-in-out; }
  a:hover {
    color: #065C8C;
    transition: color 250ms ease-in-out; }

ul, ol {
  margin-bottom: 24px; }
  ul li, ol li {
    margin-bottom: 16px; }

ul.styled {
  padding-left: 24px;
  list-style: disc outside none; }

ol.styled {
  padding-left: 24px;
  list-style: decimal outside none; }

strong {
  font-weight: 500; }

em {
  font-style: italic; }

small {
  font-size: 16px; }

.large-title {
  display: block;
  font-size: 32px; }

.lead {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.45%;
  font-weight: 300;
  color: #333846; }

.caption-1, .form-group label, .form-group .help-text, .caption-2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1%;
  color: #636671; }

.caption-2 {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 15%; }

hr {
  display: block;
  border: 0;
  outline: 0;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 23px;
  width: 75%;
  max-width: 75%;
  background-color: #DADBDE; }

table {
  border-spacing: 0.5rem;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 24px;
  border-radius: 8px; }

thead {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }

table th {
  line-height: 15px;
  padding: 8px 0;
  font-weight: 500; }

table td {
  line-height: 24px;
  padding: 12px; }

table.sml th,
table.sml td {
  padding: 4px 8px; }

table.med td {
  padding: 12px; }

table.lrg td {
  padding: 16px; }

table.stripped thead, table.stripped tr:nth-child(even) {
  background: #F9F9FA; }

table.border {
  border: 1px solid #DADBDE; }
  table.border tr {
    border-bottom: 1px solid #DADBDE;
    line-height: 15px; }
  table.border td {
    line-height: 23px;
    border-right: 1px solid #DADBDE; }
    table.border td:last-child {
      border-right: none; }

.btn, .btn-minimal, #backToTopBtn, .btn-primary {
  display: inline-block;
  color: #065C8C;
  padding: 11px 32px;
  border: 1px solid #065C8C;
  border-radius: 8px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 350ms ease-in-out; }
  .btn:hover, .btn-minimal:hover, #backToTopBtn:hover, .btn-primary:hover {
    transition: all 350ms ease-in-out;
    box-shadow: 0px 2px 6px rgba(0, 52, 117, 0.28), 0px 6px 12px rgba(0, 52, 117, 0.17);
    cursor: pointer; }
  .btn:focus, .btn-minimal:focus, #backToTopBtn:focus, .btn-primary:focus {
    transition: all 350ms ease-in-out;
    box-shadow: inset 0px 3px 6px rgba(0, 52, 117, 0.5); }

.btn-primary {
  border: none;
  background: #065C8C;
  color: #FFFFFF; }
  .btn-primary:hover {
    color: white;
    background: #065C8C;
    box-shadow: 0px 4px 8px rgba(0, 52, 117, 0.39), 0px 9px 12px rgba(0, 52, 117, 0.17); }
  .btn-primary:focus {
    background: #065C8C; }

.btn-minimal, #backToTopBtn {
  border-color: transparent;
  padding: 12px 32px; }
  .btn-minimal:hover, #backToTopBtn:hover {
    background: #DADBDE;
    box-shadow: none;
    border-color: #74C9F9; }
  .btn-minimal:focus, #backToTopBtn:focus {
    background: #DADBDE; }

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box; }
  .form-group input {
    position: relative;
    padding: 11px 8px;
    flex: 1 1 auto;
    position: relative;
    color: #333846;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    border-radius: 8px;
    border: 1px solid #DADBDE;
    outline: none;
    transition: all 350ms ease-in-out; }
    .form-group input:focus {
      transition: all 350ms ease-in-out;
      border-color: #2FAEF6;
      box-shadow: 0px 0px 8px rgba(26, 137, 211, 0.28); }
  .form-group label, .form-group .help-text {
    flex: 1 1 auto;
    position: relative;
    text-indent: 8px; }
  .form-group label {
    font-weight: 500;
    color: #4B4F5B; }
  .form-group .help-text {
    display: none;
    visibility: hidden; }
    .form-group .help-text.show {
      display: block;
      visibility: visible; }

::-webkit-input-placeholder {
  color: #7B7E87;
  font-weight: 300; }

::-moz-placeholder {
  color: #7B7E87;
  font-weight: 300; }

:-ms-input-placeholder {
  color: #7B7E87;
  font-weight: 300; }

::-ms-input-placeholder {
  color: #7B7E87;
  font-weight: 300; }

::placeholder {
  color: #7B7E87;
  font-weight: 300; }

header.the-header .header-content {
  display: flex;
  align-content: center;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto; }

header.the-header nav.primary-nav {
  justify-self: flex-end;
  text-align: right; }
  header.the-header nav.primary-nav ul {
    display: flex;
    margin: 0;
    align-self: center; }
  header.the-header nav.primary-nav li {
    padding: 4px;
    margin: 0; }
  header.the-header nav.primary-nav li a {
    display: block;
    padding: 16px 20px;
    color: #4B4F5B;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 8px;
    transition: all 350ms ease-in-out; }
    header.the-header nav.primary-nav li a:hover {
      background: #F9F9FA;
      color: #262B3A;
      transition: all 350ms ease-in-out; }
    header.the-header nav.primary-nav li a.active {
      background: #DADBDE;
      color: #262B3A;
      font-weight: 600;
      transition: all 350ms ease-in-out; }

header.the-header h1.site-title {
  margin: 0;
  flex: 1;
  align-self: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600; }

footer.the-footer {
  position: relative;
  padding: 112px 0;
  background: #262B3A;
  color: #FFFFFF; }
  footer.the-footer .footer-content {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 32px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 384px;
    text-align: center; }

#backToTopBtn {
  color: #DADBDE;
  border: none; }
  #backToTopBtn:hover {
    border: none;
    background: #222634; }

/*=== Global Overrides ===*/
main {
  max-width: 1110px;
  margin: 0 auto;
  padding-bottom: 96px; }

section {
  padding: 96px 0; }
/*# sourceMappingURL=master.css.map */