// Configuration and MixIns
@import "scss/01.config/config-import";
// Global Styles
@import "scss/02.styles/style-import";
// Individual Components
@import "scss/03.components/component-import";
// Page Layouts
@import "scss/04.layouts/layout-import";
/*=== Global Overrides ===*/
// (you shouldn't need these) //
main{
	max-width: $container-max-width;
	margin: 0 auto;
	padding-bottom: 96px;
}
section{
	padding: 96px 0;
}